version: '3'

networks:
  tunnel:
    external:
      name: '{{ argo_tunnel_network }}'

services:
  tunnel:
    image: visibilityspots/cloudflared:latest
    volumes:
      - "./cloudflared:/etc/cloudflared"
    networks:
      - tunnel
    entrypoint: "cloudflared tunnel --config /etc/cloudflared/tunnel.yml run"
    restart: unless-stopped

