# {{ ansible_managed }}
---
version: '3'

networks:
  dns-resolution:
    ipam:
      driver: default
      config:
        - subnet: '{{ dns_resolution_subnet }}'

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - '53:53/udp'
      - '80:80/tcp'
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      PIHOLE_DNS_: '{{ cloudflared_dns_ip }}'
      REV_SERVER: '{{ pihole_conditional_forwarding }}'
      REV_SERVER_TARGET: '{{  pihole_conditional_forwarding_dhcp_ip }}'
      REV_SERVER_CIDR: '{{ pihole_conditional_forwarding_subnet }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
    dns:
      - 127.0.0.1
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    networks:
      - dns-resolution
    restart: unless-stopped

  cloudflared-dns:
    container_name: cloudflared-dns
    image: visibilityspots/cloudflared:latest
    hostname: '{{ cloudflared_dns_hostname }}'
    expose:
      - '53/udp'
    environment:
      PORT: '53'
    dns:
      - '127.0.0.1'
    networks:
      dns-resolution:
        ipv4_address: '{{ cloudflared_dns_ip }}'
    restart: unless-stopped
